body{

}

#canvas{
    /* Remove once finished designing game */
    /*border:1px solid;*/
}

#title{
    font-family: sans-serif;
    font-size: 40px;
    text-align:center;
}

.wrapper
{
    position: relative;
    width: 400px;
    height: 300px;
}

.wrapper canvas{
    position: absolute;
    top: 0;
    left: 0;
}

.header
{
  background: red;
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2vw;
}

#score
{
 background: cyan;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-size: 2vw;
}

#time
{
 background: red;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-size: 2vw;
}
