#canvasPlayer #canvasMaze{
    margin-bottom: 10%;
}

.wrapper
{
    position: relative;
    width: 400px;
    height: 300px;
}

.wrapper canvas{
    position: absolute;
    top: 0;
    left: 0;
}
#buttons
{
  margin-top: 5em;
}
